.card-button{
    float: right;
}

.cards-body{
    border-top: 28px solid #005ac0;
}

.card-title{
    font-size: calc(12px + 2vmin);
}

.cards{
    width: 26rem;
}

.card-img-top{
    max-height: 184px !important;
}