.App-logo {
  height: 20vmin;
  pointer-events: none;
}

.App-header {
  /*min-height: 100vh;*/
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.App-nav{
  background-image: url(MotywHeader.png);
}

.App-nav > .nav-link{
  font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
  font-weight: bold;
  height: 100%;
  color: white !important;
  text-align: center !important;
  /*border-left: 2px darkgray solid;*/
  padding-left: 40px !important;
  padding-right: 40px !important;
  border-left-width: 3px;
  border-right-width: 0px;
  border-style: solid;
  border-image:
          linear-gradient(
                  to bottom,
                  white,
                  rgba(0, 0, 0, 0)
          ) 1 100%;
}

.App-navbar{
  padding: 0px 0px !important;
}

.last-link{
  border-left-width: 0px;
  border-right-width: 3px !important;
  border-style: solid;
  border-image:
          linear-gradient(
                  to bottom,
                  white,
                  rgba(0, 0, 0, 0)
          ) 1 100%;
}
