.img-container{
    height: 100%;
    max-height: 255px;
    background-color: white;
    border: 1px solid rgba(0,0,0,.125);
}

.img-container img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.news{
    width: 55rem;
}